* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light: #fff;
  --dark: #000;
  --grey: #ffffff;
  --green: rgba(70, 177, 70, 0.815);
  --blue: rgb(108, 213, 248);
  --skyBlue: rgb(206, 235, 247);
  --freshgrey: rgb(238, 229, 213);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
.caret {
  margin-left: .25rem;
}
.navLoginBtn:hover {
  cursor: pointer;
}
li {
  list-style: none;
}
.image {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}
/*  */
.header {
  background: rgba(190, 230, 247, 0.9);
  width: 100vw;
  height: 12vh;
  position: fixed;
  top: 0;
  /* position: relative; */
}
.navLoginBtn {
  padding: .5rem 1.5rem;
  color: var(--light);
  background: var(--green);
  border: none;
  display: block;
  border-radius: .25rem;
  outline: none;
}
.navLoginBtn:hover {
  cursor: pointer;
}
.nav {
  display: flex;
  position: absolute;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;
}
 .flagIcon{
  display: block;
}
#navBtn {
  position: absolute;
  top: auto;
  right: 2.5rem;
  display: block;
  font-size: 1.5rem;
}
.titleHead {
  position: absolute;
  /* top: 1rem; */
  font-size: 2rem;
  font-weight: 800;
}
.caret {
  margin-left: .25rem;
}

/* New nav */


.groupA a, .groupB a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
  transition: all 1s ease-in;
}
.groupA a:hover, .groupB a:hover {
  color: rgb(8, 8, 151);
}
.groupA ul, .groupB ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.groupA ul li, .groupB ul li {
  position: relative;
  text-align: center;
}

.dropDownA li, .dropDownB  li {
  display: none;
  position: relative;
  transition: all .5s linear;
}
.hidden {
  display: none;
}
.groupA li:hover .dropDownA li, .groupA li:hover .dropDownB li, .groupB li:hover .dropDownC li {
  display: block;
  top: 0;
  background: rgb(236, 232, 232);
  width: 120px;
  height: 50px;
}
.dropDownA, .dropDownB, .dropDownC {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: var(--grey);
}
.dropDownC li {
  display: none;
  position: relative;
}

@media screen and (min-width: 1020px) {
  .hidden {
    display: block;
  }
  #navBtn {
    display: none;
  }
  .groupB ul, .groupA ul {
    grid-column-gap: 2rem;
  }
} 
/* Header Section */

#navBtn:hover {
  cursor: pointer;
}

/* Show and tell section */
#show {
  background: var(--blue);
  padding: 2rem auto;
  /* height: 100vh; */
}
.show__container  {
  padding: 0 1.25rem;
  background: var(--blue);
  height: 100%;
  
}
.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 7rem;
}
.title {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}
.box {
  margin: 2.5rem 1.0rem ;
  padding: 3rem 2rem;
  background: var(--light);
  border: none;
  border-radius: .25rem;
}
.marginBot {
  margin-bottom: 3rem;
}
.head {
  margin-bottom: .5rem;
}
.link {
  display: inline-block;
  margin-top: 1rem;
  color: rgb(20, 20, 236);
  font-size: 1.0rem;
  transition: all .5s linear;
}
.link:hover {
  cursor: pointer;
  color: rgb(148, 148, 241);
  font-size: 1.1rem;
}
@media screen and (min-width: 600px) {
  .box__container {
    display: flex;
    justify-content: space-between;
    grid-column-gap: 1rem;
    
  }
  .box {
    flex: 0 0 calc(47% - 1rem);
  }
}
@media screen and (min-width: 800px) {
  .box__container {
    margin: 0 6rem;
  }
  .text {
    width: 50%;
  }
}

/* New section */
.try__container {
  margin: 2rem 0;
  background: var(--light);
  height: 50vh;
}
.try__center {
  padding: 0 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.largeTitle {
  font-size: 1.95rem;
  margin: 2.5rem 0;
}
.btn {
  padding: .75rem 1.5rem;
  border-radius: .35rem;
  border: none;
  background: var(--green);
  color: white;
  font-size: 1rem;
  margin-top: 2rem;
}
@media screen and (min-width: 600px) {
  .try__center {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    grid-column-gap: 1rem;
  }
  .tryA, .tryB {
    flex: 0 0 calc(47% - 1rem);
  }
  .btn {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2.25rem;
  }
}

/* Footer Section */

.footer__section {
  background: var(--light);
  padding: 2rem 0;
}
.footer__center {
  margin: 2.5rem 1rem;
}
footer h3 {
  margin: 1rem 0;
  font-weight: 600;
}
.iconConnect {
  margin-right: 1.75rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.iconConnect:hover {
  cursor: pointer;
}
.footer__element {
  margin: 2rem 0;
}
@media screen and (min-width: 662px) {
  .footer__center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer__element {
    flex: 0 0 calc(50% - 1rem);
  }
}
@media screen and (min-width: 992px) {
  .footer__element {
    flex: 0 0 calc(22% - .5rem);
  }
}