* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(35, 2, 59);
}

.form__container {
  background: white;
  padding: 2rem 2rem;
  margin: 2rem 3rem ;
  /* width: auto; */
}
.center {
  color: white;
  text-align: center;
  margin: 2rem;
}
.header {
  color: rgb(101, 101, 206);
  font-size: 1rem;
  font-weight: 300;
  margin: 1rem 0;
}
h1, a {
  color: white;
}
.text {
  margin: 1rem 0;
}
a:hover {
  cursor: pointer;
}
h3 {
  margin: 1rem 0;
  font-weight: 400;
  color: grey;
}
input, select {
  display: block;
  width: 100%;
  margin-bottom: .75rem;
  border: 1px solid grey;
  padding: .5rem ;
}
label {
  font-weight: bold;
}
.btn {
  display: block;
  width: 100%;
  padding: .75rem ;
  color: white;
  background:  rgb(12, 151, 12);
  margin-top: 1rem;
  border: none;
  border-radius: .5rem;
  font-size: 1.05rem;
  opacity: .5;
}

@media screen and (min-width: 800px) {
  .form__container {
    display: flex;
    justify-content: space-between;
    grid-column-gap: 1.25rem;
  }
  .text__section, .form__section {
    flex: 0 0 calc(45% - 1rem);
  }
}
@media screen and (max-width: 800px) {
  .text__section {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .form__container {
    margin: 1rem 8rem;
  }
}