* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light: #fff;
  --dark: #000;
  --grey: #ffffff;
  --green: rgba(70, 177, 70, 0.815);
  --blue: rgb(108, 213, 248);
  --skyBlue: rgb(206, 235, 247);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.image {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}
/*  */
.header {
  background: rgba(190, 230, 247, 0.9);
  width: 100vw;
  height: 12vh;
  position: fixed;
  top: 0;
  /* position: relative; */
}
.navLoginBtn {
  padding: .5rem 1.5rem;
  color: var(--light);
  background: var(--green);
  border: none;
  display: block;
  border-radius: .25rem;
  outline: none;
}
.navLoginBtn:hover {
  cursor: pointer;
}
.nav {
  display: flex;
  position: absolute;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;
}
 .flagIcon{
  display: block;
}
#navBtn {
  position: absolute;
  top: auto;
  right: 2.5rem;
  display: block;
  font-size: 1.5rem;
}
.titleHead {
  position: absolute;
  /* top: 1rem; */
  font-size: 2rem;
  font-weight: 800;
}
.caret {
  margin-left: .25rem;
}

/* New nav */


.groupA a, .groupB a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
  transition: all 1s ease-in;
}
.groupA a:hover, .groupB a:hover {
  color: rgb(8, 8, 151);
}
.groupA ul, .groupB ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.groupA ul li, .groupB ul li {
  position: relative;
  text-align: center;
}

.dropDownA li, .dropDownB  li {
  display: none;
  position: relative;
  transition: all .5s linear;
}
.hidden {
  display: none;
}
.groupA li:hover .dropDownA li, .groupA li:hover .dropDownB li, .groupB li:hover .dropDownC li {
  display: block;
  top: 0;
  background: rgb(236, 232, 232);
  width: 120px;
  height: 50px;
}
.dropDownA, .dropDownB, .dropDownC {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: var(--grey);
}
.dropDownC li {
  display: none;
  position: relative;
}
/* NAv links */
.nav__links {
  position: fixed;
  top: 1rem;
  left: 0;
  height: 70%;
  width: 100%;
  background: rgba(190, 230, 247, 0.9);
  z-index: 3;
}
.navLink {
  list-style: none;
}
.singleLink {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--dark);
  font-size: 1.5rem;
  padding: .5rem 1rem;
  transition: all .5s linear;
}
.singleLink:hover {
  background: var(--dark);
  color: var(--light);
  padding-left: 1.5rem;
}


/* JS */
.nav__links {
  width: 0;
  overflow: hidden;
  transition: all .5s linear;
}
.nav__show {
  width: 100%;
}

@media screen and (min-width: 1020px) {
  .hidden {
    display: block;
  }
  #navBtn {
    display: none;
  }
  .groupB ul, .groupA ul {
    grid-column-gap: 2rem;
  }
} 
/* Dashboard section */
.dashboard__container {
  height: 90vh;
  margin-bottom: 2rem;
  background: var(--skyBlue);

}
.section__center {
  margin: auto 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.subTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;

}
.count {
  font-size: 2.0rem;
  color: rgb(223, 219, 219);
  margin-bottom: 1rem;
  /* margin-top: 1.5rem; */
}

/*  */
.container {
  margin: 2rem auto;
  background: var(--light);
}
.section__centered {
  margin: 0 1rem;
}
@media screen and (min-width: 600px) {
  .section__centered {
    display: flex;
    justify-content: space-between;
    grid-column-gap: 1rem;
  }
  .imageSec, .textSec {
    flex: 0 0 calc(50% - 1rem);
  }
  .alignCen {
    align-self: center;
  }
}
@media screen and (min-width: 882px) {
  .section__centered {
    margin: 5rem 3rem;
    grid-column-gap: 3rem;
  }
  .subTitle {
    font-size: 3rem;
  }
  .text {
    font-size: 1.1rem;
    width: 90%;
    font-weight: bolder;
  }
}
/* Intelligent Routing section */
.section__midpoint {
  padding: 0 1rem;
}
@media screen and (min-width: 600px) {
  .section__midpoint {
    display: flex;
    justify-content: space-between;
    grid-column-gap: 1rem;
  }
  .imgSection, .textSection {
    flex: 0 0 calc(50% - 1rem);
  }
  .textSection {
    align-self: center;
    order: 1;
  }
  .imgSection {
    order: 2;
  }
}

@media screen and (min-width: 800px) {
  .section__midpoint {
    grid-column-gap: 3rem;
    margin: 5rem 3rem;

  }
}
/* New section */
.try__container {
  margin: 2rem 0;
  background: var(--light);
  height: 70vh;
}
.try__center {
  padding: 0 2rem;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.largeTitle {
  font-size: 2.25rem;
  margin: 2rem;
}
.btn {
  padding: .75rem 1.5rem;
  border-radius: .35rem;
  border: none;
  background: var(--green);
  color: white;
  font-size: 1rem;
  margin-top: 2rem;
}

/* Footer Section */

.footer__section {
  background: var(--light);
  padding: 2rem 0;
}
.footer__center {
  margin: 2.5rem 1rem;
}
footer h3 {
  margin: 1rem 0;
  font-weight: 600;
}
.iconConnect {
  margin-right: 1.75rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.iconConnect:hover {
  cursor: pointer;
}
.footer__element {
  margin: 2rem 0;
}
@media screen and (min-width: 662px) {
  .footer__center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer__element {
    flex: 0 0 calc(50% - 1rem);
  }
}
@media screen and (min-width: 992px) {
  .footer__element {
    flex: 0 0 calc(25% - .5rem);
  }
}